$dark: #151515;

// Dropdown stuff
$dropdown-bg:                       $dark;
$dropdown-link-color:               rgba(255,255,255,.55);
$dropdown-link-hover-color:         rgba(255,255,255,.75);
$dropdown-link-hover-bg:            $dark;
$dropdown-divider-bg:               rgba(255,255,255,.55);

// Pagination stuff
$pagination-color:                  rgb(60, 60, 60);
$pagination-hover-color:            $dark;
$pagination-active-bg:              rgb(60, 60, 60);

@import "bootstrap.scss";

$fa-font-path: "fonts/";
@import "fontawesome-free-5.15.1-web/scss/fontawesome.scss";
@import "fontawesome-free-5.15.1-web/scss/solid.scss";
@import "fontawesome-free-5.15.1-web/scss/brands.scss";

@font-face {
    font-family: 'loraregular';
    src: url('fonts/lora-regular-webfont.woff2') format('woff2'),
         url('fonts/lora-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'loraitalic';
    src: url('fonts/lora-italic-webfont.woff2') format('woff2'),
         url('fonts/lora-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'lorabold_italic';
    src: url('fonts/lora-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/lora-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'lorabold';
    src: url('fonts/lora-bold-webfont.woff2') format('woff2'),
         url('fonts/lora-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'truenobold';
    src: url('fonts/truenobd-webfont.woff2') format('woff2'),
         url('fonts/truenobd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'truenolight';
    src: url('fonts/truenolt-webfont.woff2') format('woff2'),
         url('fonts/truenolt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'truenoregular';
    src: url('fonts/truenorg-webfont.woff2') format('woff2'),
         url('fonts/truenorg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'truenosemibold';
    src: url('fonts/truenosbd-webfont.woff2') format('woff2'),
         url('fonts/truenosbd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'truenoultralight';
    src: url('fonts/truenoultlt-webfont.woff2') format('woff2'),
         url('fonts/truenoultlt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import "header.scss";
@import "footer.scss";
@import "featured.scss";
@import "suggestions.scss";
@import "blog-content.scss";

.bg-offwhite {
    background-color: #f2f2f2;
}

h1, h2, h3{
    font-family: "truenobold";

}

h1{
    padding-bottom: .35em;
    font-size: 60px;
}

h2,h3{
    padding-bottom: .7em;
}


div.date-time{
    font-family: "truenolight";
}

body{
    font-family: "loraregular";
}

p{
    line-height: 1.9em;
}


.section-title {
    font-family: "truenobold";
    margin-top: 1.5rem;
    text-align: center;

    a {
        color: #212529;
        text-decoration: none;

        &:hover {
            color: #212529;
            text-decoration: underline;
        }
    }
}

.tags {
    font-size: 0.9rem;

    a {
        text-decoration: none;
    }

    .tag {
        display: inline-block;
        margin: 0 2px 6px 2px;
        padding: 0.2rem 1rem;
        letter-spacing: 1px;
        white-space: nowrap;
        color: white;
        font-family: "truenolight";
    }

    .tag:hover {
        text-decoration: 1px solid white underline;
    }
}

.date {
    font-weight: 600;
}

a#email{
    font-family: "truenobold";
}



.pagination {
    justify-content: center;
    margin: 1rem 0;
    font-size: 1.3rem;
    font-family: "truenolight";
}

#social-media-share {
    margin: 3rem auto;
    text-align: center;

    a {
        text-decoration: none;
    }

    img {
        display: inline-block;
    }
}

// Override Google CSE styles
#___gcse_0 {
    .gsc-control-cse {
        padding: 0 !important;
        border: 0 !important;
        
        &::after {
            content: none !important;
        }
    }
}

.mermaid {
    margin-bottom: 1rem;
    text-align: center;
}

main {
    min-height: 70vh;
}

.ad-left-offset {
    min-height: 120vh;
}

.ad-right-offset {
    min-height: 270vh;
}

#header .top-bar .title a {
    font-family: 'truenobold';
}

#header  {
    font-family: 'truenobold';
}

input#cse-search-input-box-id.form-control [type="text"] {
    font-family: "loraregular";
}

li.nav-item{
    font-family: "truenolight";
    text-transform: uppercase;
}

figcaption.append {
    font-family: "loraitalic";
    text-align: center;
    padding-bottom: 2em;
    font-size: 19px;
    line-height: 26px;
}